@import "tailwindcss";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none; 
  touch-action: none; /* Prevents pull-to-refresh or swiping back on mobile */
  background-color: #111116;
  color: #ededed;
  font-family: system-ui, -apple-system, sans-serif;
}


